/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

.idea/caches/build_file_checksums.ser
.gradle/checksums/sha1-checksums.bin
.gradle/checksums/md5-checksums.bin
.gradle/checksums/checksums.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/6.8.1/javaCompile/taskHistory.bin
.gradle/6.8.1/javaCompile/javaCompile.lock
.gradle/6.8.1/javaCompile/jarAnalysis.bin
.gradle/6.8.1/javaCompile/classAnalysis.bin
.gradle/6.8.1/fileHashes/resourceHashesCache.bin
.gradle/6.8.1/fileHashes/fileHashes.lock
.gradle/6.8.1/fileHashes/fileHashes.bin
.gradle/6.8.1/executionHistory/executionHistory.lock 
.gradle/6.8.1/executionHistory/executionHistory.bin 
